<div class="card">
    <div class="card-header">
<h5>Create new Booking</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label class="form-label">ID</label>
              <input [(ngModel)] = "booking.id" name="id" type="number" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Room number</label>
              <input  [(ngModel)] = "booking.roomNumber" name="roomNumber"  type="text" class="form-control" >
            </div>
            <div class="mb-3">
                <label class="form-label">Guest Name</label>
                <input [(ngModel)] = "booking.name" name="name"  type="text" class="form-control" >
              </div>
              <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input [value] = "booking.startDate | date: 'yyyy-MM-dd' "  (input)="dateChanged($event, true)" type="date" class="form-control" >
              </div>
              <div class="mb-3">
                <label class="form-label">End Date</label>
                <input [value] = "booking.endDate | date: 'yyyy-MM-dd'"  (input)="dateChanged($event,false)" type="date" class="form-control" >
              </div>
        </form>
    </div>
    <div class="card-footer">
        <button (click)="save()" type="submit" class="btn btn-primary">Submit</button>
    </div>

</div>

